{% extends 'baseproj.html.twig' %}

{% block title %}Delete book{% endblock %}

{% block main %}
    <main class="projmain">
        <div class="projmainblock">
            <h1>Om kortspelet</h1>
            <button class="button"><a href="{{ path('proj_start') }}">Starta spel</a>
        </div>
    </main>
</div>

{% endblock %}