{% extends 'baseproj.html.twig' %}

{% block title %}Delete book{% endblock %}

{% block main %}
    <main class="projmain">
        <div class="projmainblock">
            <h1>Om kortspelet</h1>
                <ul class="button">
                    <li><a href="{{ path('deck_draw_one') }}">1 kort</a></li>
                    <li><a href="{{ path('deck_draw_number', { 'num': 3 }) }}">3 kort</a></li>
                    <li><a href="{{ path('deck_draw_number', { 'num': 5 } ) }}">5 kort</a></li>
                </ul>
        </div>
    </main>
</div>

{% endblock %}