{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="mainblock">
    
    <img src="{{ asset('images/boblina.png') }}" alt="UML for card-classes" class="boblina">
    <p>Skapa en sida card/deck som visar samtliga kort i kortleken sorterade per färg och värde.</p>

    <p></p>

    <p></p>
</div>
{% endblock %}