{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="mainblock">
    
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

</div>
{% endblock %}