{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="mainblock">
    <h1>Om Boblina</h1>
    <p>Hej! Det här är Boblina.</p>
    <img src="{{ asset('images/boblina.png') }}" alt="Boblina som dansar" class="boblina">
    <p>Boblinas nya hobby är att dansa. Valet av style på hemsidan avslöjar att Boblina
    är lite utav en hippie, så man kan också anta att Boblina bor nära vattnet i ett varmt land,
    och att "dansa" kanske är mer av en ödmjuk tolkning av hur Boblina rör sig till musik.</p>

    <p>Boblina är en dynamisk och äventyrlig webbprogrammerare som älskar att kombinera teknik med kreativitet.
     Med en passion för att skapa interaktiva och engagerande webbplatser, spenderar Boblina dagarna med att skriva kod och designa användarvänliga gränssnitt.</p>

    <p>När Boblina inte sitter vid datorn, hittar du henne ofta på en skateboard,
     utforskande stadens gator och parker. Boblina har också en förkärlek för retro-videospel och organiserar regelbundet spelkvällar med vänner. 
     Med en unik stil och en smittsam energi, är Boblina alltid redo för nya utmaningar och äventyr.</p>
</div>
{% endblock %}