{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="two-col-layout"> 
    <aside class="aside">
        <h1>Innehåll</h1>
        <ul class="button">
            <li><a href="#kmom01">kmom01</a></li>
            <li><a href="#kmom02">kmom02</a></li>
            <li><a href="#kmom03">kmom03</a></li>
            <li><a href="#kmom04">kmom04</a></li>
            <li><a href="#kmom05">kmom05</a></li>
            <li><a href="#kmom06">kmom06</a></li>
        </ul>
    </aside>  
    <main class="main">
    <div class="mainblock">
        <article class="article">
            <h1>Rapport</h1>
            <h2 id="kmom01">Kmom01</h2>
                <h3>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</h3>
                <p>Eftersom jag har gått kursen OOPython och JavaScript är objektorientering bekant.
                    Jag känner till begreppet och vet hur man skriver objektorienterat i Python.
                    Det ser lite annorlunda ut men eftersom jag förstår principen tror jag att det här kommer vara enkelt att komma in i.</p>
                <h3>Berätta kort om PHPs modell för klasser och objekt.
                    Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</h3>
                    <p>En klass är en mall för ett objekt. I den definieras egenskaper och funktioner som ska tillhöra klassen.  
                    Ett objekt är en så kallad instans av klassen. Objektet är skapat av klassen och har därför klassens egenskaper och funktioner.
                    Metod är funktioner som tillhör en klass. Egenskaper är variabler som tillhör klassen. 
                </p>
                <h3>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h3> 
                <p>
                    Rörig. Jag hade själv inte strukturerat koden och mapparna på sättet som de är just nu. 
                    Vi har fått en massa kod som vi inte går igenom eller förklarar vad den gör. 
                    Jag känner att det är många filer vars syfte jag inte förstår. 
                    Än så länge har jag inte hunnit få en förståelse över koden och hur den interagerar med övrig kod. 
                    Därför tycker jag att det känns rörigt och svårt att förstå. Varje gång jag ska ändra i stylen eller någon annan fil sitter jag och letar efter vart den är. 
                    Eftersom jag inte förstår hur och vart saker påverkar varandra vågar jag inte flytta runt filerna så som jag vill ha dom för att jag tror att saker kommer sluta fungera då. 
                </p>
                <h3>Med tanke på artikeln “PHP The Right Way”, vilka delar i den finner du extra intressanta och värdefulla? 
                    Är det några särskilda områden som du känner att du vill veta mer om? 
                    Lyft fram några delar av artikeln som du känner mer värdefulla.</h3>
                    
                <p>
                    Jag tycker stycket om säkerhet är intressant. 
                    Vi har hittils i programmet inte pratat om säkerhet och jag tycker det är intressant att läsa mer om det.
                    Vad man ska tänka på och jag har ingen tidigare kännedom om hur lösenord sparas, eller hur säkerhet fungerar på websidor. </p>
                <h3>Vilken är din TIL för detta kmom?</h3>
                <p>förutom min footer som jag har lagt flera timmar på att försöka få till korrekt men som av någon anledning lever ett eget liv. 
                    Jag kommer försöka fixa den under kursens gång men just nu får den vara som den är. </p>


            <h2 id="kmom02">Kmom02</h2>
                <p></p>
                <p></p>
            <h2 id="kmom03">Kmom03</h2>
                <p></p>
                <p></p>
            <h2 id="kmom04">Kmom04</h2>
                <p></p>
                <p></p>
            <h2 id="kmom05">Kmom05</h2>
                <p></p>
                <p></p>
            <h2 id="kmom06">Kmom06</h2>
                <p></p>
                <p></p>
       </article>
    </div>
    </main>        
</div>  
{% endblock %}