{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block main %}
<div class="two-col-layout"> 
    <aside class="aside">
        <h1>Innehåll</h1>
        <ul class="button">
            <li><a href="#kmom01">kmom01</a></li>
            <li><a href="#kmom02">kmom02</a></li>
            <li><a href="#kmom03">kmom03</a></li>
            <li><a href="#kmom04">kmom04</a></li>
            <li><a href="#kmom05">kmom05</a></li>
            <li><a href="#kmom06">kmom06</a></li>
        </ul>
    </aside>  
    <main class="main">
    <div class="mainblock">
        <article class="article">
            <h1>Rapport</h1>
            <h2 id="kmom01">Kmom01</h2>
                <h3>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</h3>
                <p>Eftersom jag har gått kursen OOPython och JavaScript är objektorientering bekant.
                    Jag känner till begreppet och vet hur man skriver objektorienterat i Python.
                    Det ser lite annorlunda ut men eftersom jag förstår principen tror jag att det här kommer vara enkelt att komma in i.</p>
                <h3>Berätta kort om PHPs modell för klasser och objekt.
                    Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</h3>
                    <p>En klass är en mall för ett objekt. I den definieras egenskaper och funktioner som ska tillhöra klassen.  
                    Ett objekt är en så kallad instans av klassen. Objektet är skapat av klassen och har därför klassens egenskaper och funktioner.
                    Metod är funktioner som tillhör en klass. Egenskaper är variabler som tillhör klassen. 
                </p>
                <h3>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h3> 
                <p>
                    Rörig. Jag hade själv inte strukturerat koden och mapparna på sättet som de är just nu. 
                    Vi har fått en massa kod som vi inte går igenom eller förklarar vad den gör. 
                    Jag känner att det är många filer vars syfte jag inte förstår. 
                    Än så länge har jag inte hunnit få en förståelse över koden och hur den interagerar med övrig kod. 
                    Därför tycker jag att det känns rörigt och svårt att förstå. Varje gång jag ska ändra i stylen eller någon annan fil sitter jag och letar efter vart den är. 
                    Eftersom jag inte förstår hur och vart saker påverkar varandra vågar jag inte flytta runt filerna så som jag vill ha dom för att jag tror att saker kommer sluta fungera då. 
                </p>
                <h3>Med tanke på artikeln “PHP The Right Way”, vilka delar i den finner du extra intressanta och värdefulla? 
                    Är det några särskilda områden som du känner att du vill veta mer om? 
                    Lyft fram några delar av artikeln som du känner mer värdefulla.</h3>
                    
                <p>
                    Jag tycker stycket om säkerhet är intressant. 
                    Vi har hittils i programmet inte pratat om säkerhet och jag tycker det är intressant att läsa mer om det.
                    Vad man ska tänka på och jag har ingen tidigare kännedom om hur lösenord sparas, eller hur säkerhet fungerar på websidor. </p>
                <h3>Vilken är din TIL för detta kmom?</h3>
                <p>förutom min footer som jag har lagt flera timmar på att försöka få till korrekt men som av någon anledning lever ett eget liv. 
                    Jag kommer försöka fixa den under kursens gång men just nu får den vara som den är. </p>


            <h2 id="kmom02">Kmom02</h2>
                <h4>Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.</h4>
                <ul>
                    <li>
                        Arv: en klass som ärver egenskaper från en annan klass. Det gör att man kan återanväda kod.
                    </li>
                    <li>
                        Komposition: En klass som använder andra objekt som delar av sin egen klass.
                    </li>
                    <li>
                        Interface: Definierar metoder som en klass måste implementera men ger ingen beskrivning om hur de ska lösas.
                    </li>
                    <li>
                        Trait: I PHP kan man inte ärva från flera klasser, men man kan använda sig av Traits istället. Man definierar ett Trait som en klass, med trait namn och funktioner som tillhör traitet. En klass kan sedan använda use [namn på trait] för att använda funktionerna i klassen.
                    </li>
                </ul>
                
                <h4>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden och dina klasser?</h4>
                <p>ag började med att skapa det tre klasserna som rekommenderades men insåg att jag inte i det här skedet behövde CardHand-klassen och välde därför att inte fortsätta utveckla den. I ett senare skede kanske den behövs och då kan jag återuppta byggandet av den klassen. Jag känner att jag hade kunnat lägga lite mer tid på att förbättra mina klasser och deras metoder. Däremot är jag nöjd över hur jag fått till min router och templates.</p>
                
                <h4>Vilka är dina reflektioner så här långt med att jobb i Symfony med applikationskod enligt MVC?</h4>
                <p>Jag tycker att vi har fått ett stort ramverk tilldelat oss med lite förklaring om hur det funkar eller vad det är till för. 
                Man kan försöka läsa sig till hur det fungerar i manualen men jag tycker att det är få ramverk och programmeringsspråk som har manualer som är lätta att förstå och sätta sig in i. Personligen önskar jag att lärarna kunde ge mer material som förklarar varför ett ramverk som symfony används, när, var och hur det fungerar. Det är många filer vars funktionalitet jag inte förstårvilket gör att jag inte känner att jag har kontroll över koden eller förstår hur den fungerar.
                 Jag tycker det är svårt att felsöka eftersom jag inte vet om det är jag som inte jobbar korrekt utifrån ramverkets begränsningar eller om det är något som jag hade kunnat förändra eller lägga till för att det ska fungera.</p>
                
                <h4>• Vilken är din TIL för detta kmom?</h4>
                <p>Jag har blivit lite bättre på PHP-syntax samt hur jag jobbar med twig och router. Jag har inte skrivit så mycket kod i php och känner mig inte så trygg i språket. Genom att göra routerna och övningen med dice har jag blivit mycket bättre på att skriva php-kod och lära mig funktioner som finns i språket. Bland annat försökte jag skriva en egen shuffle-funktion för kortleken innan jag insåg att det fanns en inbyggd funktion i php för att blanda arrayer som jag kunde använda mig utav.</p>
                
            <h2 id="kmom03">Kmom03</h2>
                <h4>Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?</h4>
                    <p>Jag tycker personligen inte att pseudokoden var till någon hjälp bara mer arbete. Eftersom man mer eller mindre skriver hela koden och funktionerna hade jag föredragit att skriva koden direkt. Då tycker jag att ett uml-diagram är till mer hjälp eftersom det ger en överblick över koden och hur den ska hänga ihop. Pseudo-kod ger ingen bra överblick och känns lika rörig som att sätta sig rakt in i skriven kod. Det tar dessutom mycket tid och jag har svårt att se att en som inte är utvecklare, eller en som ska sätta sig in i projektet får någon större förståelse av koden genom att läsa pseudokod.</p>

                    <p>Flödesschemat däremot är mer till hjälp eftersom man ger sig själv en bild av hur flödet ska gå, vilka problem koden ska lösa och vad man har för mål med koden. Det är ett bra första steg för att få en idé om hur man ska ta sig uppgiften.</p>
                <h4>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden, dina klasser och applikationen som helhet?</h4>
                    <p>Jag är nöjd med resultatet av mitt spel. Det funkar bra, jag har inte hittat några buggar eller att spelet kraschar vid något tillfälle. Klasserna för banken och spelet innehåller relevanta metoder, som inte är för stora eller svåra att förstå vad det gör. Så i det stora hela är jag nöjd med koden. Jag hade kunnat jobba mer med min controller för att få  den lite mindre men jag tycker att jag har ansträngt mig för att hålla den så kort jag kan. </p>

                <h4>Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?</h4>
                    <p>Jag börjar få mer förståelse för ramverket och det är egentligen inte speciellt svårt. Däremot känner jag att det fortfarande är mappar och filer som jag inte har en aning om vad de gör och vad det är till för. Jag känner inte heller att jag har tid att gräva ner mig i det även om jag skulle vilja då jag tycker att uppgifterna är mastiga och tar mycket tid att genomföra för egen del.</p>

                <h4>Vilken är din TIL för detta kmom?</h4>
                    <p>Jag tycker att jag börjar komma in i PHP som språk bättre. Jag börjar bli bekvämare med språket och lära mig fler syntaxer för att minimera antalet kodrader som behövs. Jag har inte skrivit mycket PHP innan så jag har inte så bra förkunskaper men jag tycker att jag börjar förstå språket bättre.</p>

            <h2 id="kmom04">Kmom04</h2>
                <p></p>
                <p></p>
            <h2 id="kmom05">Kmom05</h2>
                <p></p>
                <p></p>
            <h2 id="kmom06">Kmom06</h2>
                <p></p>
                <p></p>
       </article>
    </div>
    </main>        
</div>  
{% endblock %}