{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block main %}
    <form method="POST" action="{{ path('create_book_form') }}">
        <label for="titel">Titel of book</label>
        <input id="titel" class="styled-input" name="titel" type="text"><br><br>

        <label for="author">Author</label>
        <input id="author" class="styled-input" name="author" type="text"><br><br>
        
        <label for="ISBN">ISBN</label>
        <input id="ISBN" class="styled-input" name="ISBN" type="text"><br><br>

        <button type="submit">Add book</button>
    </form>

{% if message %}
    <p>{{ message }}</p>
{% endif %}

{% endblock %}

