{% extends 'base.html.twig' %}

{% block title %}Delete book{% endblock %}

{% block main %}
    <h2>Delete book from library</h2>

    <form action="{{ path('delete_book_isbn') }}" method="post">
    <label for="library">Choose a book in the list to delete from library</label>
    <select id="library" name="Isbn">
    {% for book in library %}
        <option value="{{ book.Isbn }}">{{ book.titel }} By {{ book.author }}</option>
    {% endfor %}
    </select>

    <input type="submit">

{% endblock %}
