{% extends '../base.html.twig' %}

{% block title %}Delete book{% endblock %}

{% block body %}
    <h2>Delete book from library</h2>

    <form action="" method="post">
    <label for="library">Choose a book in the list to delete from library</label>
    <select name="isbn">
    {% for book in library %}
        <option value="{{ book.ISBN }}">{{ book.titel }} By {{ book.author }}</option>
    {% endfor %}
    </select>

    <input type="submit">

{% endblock %}