{% extends 'base.html.twig' %}

{% block title %}Delete book{% endblock %}

{% block main %}

<h1>Choose book to update</h1>
    <form action="{{ path('update_book_form') }}" method="GET">
        <label for="ISBN">Välj bok:</label>
        <select name="ISBN" id="ISBN">
            {% for book in library %}
                <option value="{{ book.ISBN }}">{{ book.titel }} By {{ book.author }}</option>
            {% endfor %}
        </select>
        <button type="submit">Update book</button>
    </form>
{% endblock %}